body {
    font-family: 'Nanum Gothic', sans-serif;
}

.pichure {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 18px;
    line-height: 0;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.pichure:hover {
    color: #fff;
}

.pichure>span {
    display: block;
    line-height: 50px;
}

.is-tab-nav {
    margin-bottom: 15px;
    border-bottom: 2px solid #726c5c;
}

.is-tab-nav li {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding: 0 !important;
}

.is-tab-nav li>a {
    color: #878682;
    padding: 0 !important;
}

.is-tab-nav li.is-active>a {
    color: #726c5c;
}

.owl-carousel .owl-dots.disabled {
    display: block;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #868686;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px;
}

.uc-dropdown .is-chk-btn input[type=checkbox]+span {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #ededed;
    font-size: 12px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.uc-dropdown input[type=checkbox]:checked+span {
    background-color: #ffd800;
    border-color: #ffd800;
}

.is-frame-md {
    padding: 0 15px;
}

header .nav {
    padding: 15px 0;
}

header .nav ul li {
    display: inline-block;
    margin-left: 35px;
}

header .nav ul li:first-child {
    margin-left: 0;
}

header .nav ul li a {
    color: #c1a868;
    font-weight: bold;
    font-family: 'NanumSquare', sans-serif;
}

header .nav span,
header .nav .member-info a {
    font-size: 15px;
}

header .nav .member-info {
    line-height: 43px;
}

header .nav .reset {
    margin-left: 40px;
    font-size: 15px;
}

header .nav .mypage {
    margin-left: 40px;
}

.yellow-bg {
    padding: 10px 0;
    background-color: #ffd800;
    border-bottom: 2px solid #000;
}

.yellow-bg2 {
    background-color: #fff3b0;
    padding: 10px;
}

.yellow-bg2 h4 {
    font-size: 24px;
}

.is-btn-brown {
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    color: #fff;
    background-color: #969172;
}

.is-title-wrap {
    padding: 30px 0 25px;
}

.is-title-wrap h2 {
    font-size: 40px;
}

.is-title-wrap p {
    font-size: 17px;
}

.is-col {
    text-align: center;
}

.is-col p {
    font-size: 12px;
}

[data-uc-table] {
    border-top: 2px solid #403c3b;
}

[data-uc-table]>[class*=is-table-] th {
    border-color: #73706f;
    font-size: 16px;
    color: #989898;
}

[data-uc-table]>[class*=is-table-] td {
    border-color: #d1d1cd;
    color: #020000;
}

[data-uc-table]>[class*=is-table-] td,
[data-uc-table]>[class*=is-table-] th {
    text-align: center;
    padding: 5px 0;
}

[data-uc-form] .is-input-field input.is-input-control,
[data-uc-form] .is-input-field input[type=email],
[data-uc-form] .is-input-field input[type=file],
[data-uc-form] .is-input-field input[type=password],
[data-uc-form] .is-input-field input[type=search],
[data-uc-form] .is-input-field input[type=text],
[data-uc-form] .is-input-field select,
[data-uc-form] .is-input-field textarea {
    background-color: #fff;
}


.custom-top-list .is-col-inner {
    border: 2px solid #eaeaea;
    padding: 20px;
}

.custom-top-list .is-col-inner h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #020202;
}

.custom-top-list .is-col-inner p {
    font-size: 14px;
    color: #020202;
}

[data-uc-collapse] .is-collapse-inner {
    padding: 10px 0;
}

[data-uc-collapse] .is-collapse-inner>a {
    display: block;
}

#customerCollapse {
    border-top: 1px solid #d8d8d4;
}

#customerCollapse li {
    border-bottom: 1px solid #d8d8d4;
}

#customerCollapse b {
    font-size: 24px;
}

#loginModal [data-uc-panel],
#joinModal [data-uc-panel] {
    border-color: #7c7b7b;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

#loginModal [data-uc-panel] [class*=is-panel-],
#joinModal [data-uc-panel] [class*=is-panel-] {
    padding: 40px 80px;

}

#loginModal[data-uc-modal] .is-modal-dialog {
    position: absolute;
    max-width: 780px;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-left: -380px;
    margin-top: -170px;
}

#joinModal[data-uc-modal] .is-modal-dialog {
    max-width: 730px;
}

.sns-wrap p {
    margin-bottom: 30px;
    font-size: 18px;
}

.sns-wrap a {
    display: inline-block;
    padding: 0 10px;
}

.is-btn-yg1 {
    display: block;
    width: 100%;
    background-color: #ffd800;
    border: 1px solid #ffd800;
    color: #ffffff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.is-btn-yg2 {
    display: block;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ffd800;
    color: #ffd800;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.is-txt-link {
    color: #1155cc;
    font-size: 11px;
    display: inline-block;
    padding: 0 20px;
}

#joinModal [data-uc-form] .is-input-field input.is-input-control,
#joinModal [data-uc-form] .is-input-field input[type=email],
#joinModal [data-uc-form] .is-input-field input[type=file],
#joinModal [data-uc-form] .is-input-field input[type=password],
#joinModal [data-uc-form] .is-input-field input[type=search],
#joinModal [data-uc-form] .is-input-field input[type=text],
#joinModal [data-uc-form] .is-input-field select,
#joinModal [data-uc-form] .is-input-field textarea {
    background-color: #eeeeee;
}

#joinModal .is-input-field input[type=checkbox]+span,
#joinModal .is-input-field input[type=radio]+span {
    margin-right: 9px;
    vertical-align: middle;
}

.is-input-field .is-chk-lab input[type=radio]+span {
    background-position: -216px 0;
}

.is-input-field .is-chk-lab input[type=checkbox]+span,
.is-input-field .is-chk-lab input[type=radio]+span {
    background-image: url(../images/icon/form/square/yellow.png);
}


[data-uc-table=sub2_2] {
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    margin-bottom: 50px;
}

[data-uc-table=sub2_2] h3 {
    padding: 15px 0;
    font-size: 18px;
    color: #555555;
    text-align: center;
}

[data-uc-table=sub2_2]>[class*=is-table-] {
    border-top: 1px solid #aeaeae;
    border-bottom: 1px solid #d9d9d9;
}

[data-uc-table=sub2_2]>[class*=is-table-] th {
    font-size: 13px;
    color: #555555;
    background-color: #ededed;
    border-bottom: 0;
}

[data-uc-table=sub2_2]>[class*=is-table-] td {
    border-bottom: 1px solid #ededed;
    text-align: left;
    padding: 10px 15px;
}

[data-uc-table=sub2_2]>[class*=is-table-] tr:last-child td {
    border-bottom: 0;
}

[data-uc-table=sub2_2]>[class*=is-table-] td .is-chk-btn input[type=checkbox]+span {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #ededed;
    font-size: 12px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

[data-uc-table=sub2_2]>[class*=is-table-] td .is-chk-btn input[type=checkbox]:checked+span {
    background-color: #ffd800;
    border-color: #ffd800;
}

.addr2 {
    padding: 20px;
    border: 1px solid #aeaeae;
}

.addr2 .is-addon--front-default {
    padding: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
}

.addr2 input[type=text] {
    padding: 0 !important;
    display: inline-block !important;
    border: 0 !important;
}

.is-txt-title {
    margin-bottom: 15px;
    font-size: 20px;
    color: #726c5c;
    border-bottom: 2px solid #726c5c;
}

[data-uc-modal]#detail {
    z-index: 9999;
}

[data-uc-modal]#detail .is-modal-dialog {
    max-width: 300px;
    top: 180px;
}

[data-uc-modal]#detail .is-modal-dialog .is-panel-head {
    position: relative;
    text-align: center;
    padding: 10px;
}

[data-uc-modal]#detail .is-modal-dialog .is-panel-head h3 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

[data-uc-modal]#detail .is-modal-dialog .is-panel-head [data-uc-dismiss] {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -20px;
}

[data-uc-modal]#detail .is-modal-dialog .is-panel-body .is-name {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #555555;
    
}

[data-uc-modal]#detail .is-modal-dialog .is-panel-body .is-addr {
    font-size: 12px;
    color: #555555;
}

[data-uc-modal]#detail .is-modal-dialog .is-panel-body .is-phone {
    font-size: 14px;
    color: #ffd800;
    font-weight: 700;
}

[data-uc-modal]#detail .is-modal-dialog .is-panel-foot .is-txt-left {
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

[data-uc-modal]#detail .is-modal-dialog .is-panel-foot p {
    font-size: 10px;
    color: #555555;
    letter-spacing: -1px;
    margin-bottom: 5px;
}

[data-uc-modal]#detail .is-modal-dialog .is-panel-foot p.is-ye {
    font-size: 12px;
    color: #ffd800;
}


/* //////////// */

[data-uc-modal]#call {
    z-index: 9999;
}

[data-uc-modal]#call .is-modal-dialog {
    max-width: 300px;
    top: 60px;
}

[data-uc-modal]#call .is-modal-dialog .is-panel-head {
    position: relative;
    text-align: center;
    padding: 10px;
}

[data-uc-modal]#call .is-modal-dialog .is-panel-head h3 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

[data-uc-modal]#call .is-modal-dialog .is-panel-head [data-uc-dismiss] {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -20px;
}

[data-uc-modal]#call .is-modal-dialog .is-panel-body .is-name {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #555555;
    
}

[data-uc-modal]#call .is-modal-dialog .is-panel-body .is-addr {
    font-size: 12px;
    color: #555555;
}

[data-uc-modal]#call .is-modal-dialog .is-panel-body .is-phone {
    font-size: 14px;
    color: #ffd800;
    font-weight: 700;
}

[data-uc-modal]#call .is-modal-dialog .is-panel-foot .is-txt-left {
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

[data-uc-modal]#call .is-modal-dialog .is-panel-foot p {
    font-size: 10px;
    color: #555555;
    letter-spacing: -1px;
    margin-bottom: 5px;
}

[data-uc-modal]#call .is-modal-dialog .is-panel-foot p.is-ye {
    font-size: 12px;
    color: #ffd800;
}

.input-call {
    position: relative;
}

.input-call a {
      display: inline-block;
    position: absolute;
    right: 0px;
    top: 2px;
    width: 48px;
    font-size: 12px;
    line-height: 24px;
    background-color: #ffd800;
}

.input-call input {
    width: 100%;
    height: 28px;
    border: 1px solid #594100;
    padding: 5px 50px 5px 5px;
}


[data-uc-modal]#view .is-modal-dialog,
[data-uc-modal]#pichure .is-modal-dialog {
    max-width: 850px;
}

[data-uc-modal]#view .is-modal-dialog [data-uc-panel] {
    border: 0;
    border-radius: 10px;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

[data-uc-modal]#view .is-modal-dialog p {
    font-size: 13px;
}

[data-uc-modal]#view .is-modal-dialog [data-uc-table],
[data-uc-modal]#view .is-modal-dialog th,
[data-uc-modal]#view .is-modal-dialog td {
    border: 0;
    padding: 0;
}

[data-uc-modal]#view .is-modal-dialog [data-uc-table] {
    margin-bottom: 20px;
}

[data-uc-modal]#view .is-modal-dialog th {
    padding: 2px 0;
    background-color: #FFD800;
    color: #333;
    border-right: 3px solid #fff;
    font-size: 13px;
    font-weight: 700;
}

[data-uc-modal]#view .is-modal-dialog td {
    background-color: #f5f5f5;
    border-right: 3px solid #fff;
    font-size: 15px;
}

[data-uc-modal]#view .is-modal-dialog .is-panel-head span {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
    color: #a7a7a7;
}

[data-uc-modal]#view .is-modal-dialog .is-panel-head .is-txt-right a {
    display: inline-block;
    margin-left: 15px;
}

.is-filter-nav .is-col:nth-child(1) {
    width: 25%;
}

.is-filter-nav .is-col:nth-child(2) {
    width: 25%;
}

.is-filter-nav .is-col:nth-child(3) {
    width: 15%;
}

.is-filter-nav .is-col:nth-child(4) {
    width: 15%;
}

.is-filter-nav .is-col:nth-child(5) {
    width: 20%;
}

.is-filter-nav .is-btn-white {
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.slider-nav {
    margin-bottom: 40px;
    margin-left: -5px;
    margin-right: -5px;
}

.slider-nav li {
    position: relative;
    padding: 0 5px;
}

.slider-nav li.slick-current::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5px;
    background-color: #feed79;
    width: 94%;
    height: 6px;
}


.is-filter-nav [data-uc-dropdown] .is-dropdown-wrapper {
    left: 7px;
}

.is-filter-nav [data-uc-dropdown] .is-dropdown-inner {
    background-color: #fff;
    padding-top: 0;
    margin-top: 10px;
    border: 1px solid #eee;
}

.is-filter-nav [data-uc-dropdown] .is-dropdown-inner .is-item {
    font-size: 13px;
    color: #333;
    padding: 5px 10px;
}

.is-filter-nav [data-uc-dropdown] .is-dropdown-inner .is-item>a {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.is-filter-nav [data-uc-dropdown] .is-dropdown-inner .is-item>a.is-active {
    color: #ffd800;
}

.is-filter-nav [data-uc-dropdown] .is-dropdown-inner .is-item:last-child>a {
    border-bottom: 0;
    padding: 0;
}

.is-filter-nav li i {
    position: absolute;
    right: 10px;
}

.is-filter-nav li:nth-child(1) .is-dropdown-wrapper,
.is-filter-nav li:nth-child(2) .is-dropdown-wrapper {
    width: 172px;
}

.is-filter-nav li:nth-child(3) .is-dropdown-wrapper,
.is-filter-nav li:nth-child(4) .is-dropdown-wrapper {
    width: 350px;
}

.is-filter-nav li:nth-child(5) .is-dropdown-wrapper {
    width: 354px;
}

.is-filter-nav li:nth-child(3) .is-dropdown-inner,
.is-filter-nav li:nth-child(4) .is-dropdown-inner {
    padding: 20px 30px;
}

.is-filter-nav li:nth-child(5) .is-dropdown-inner {
    padding: 20px;
}

.is-filter-nav .ui-state-default,
.is-filter-nav .ui-widget-content .ui-state-default,
.is-filter-nav .ui-widget-header .ui-state-default {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.is-filter-nav .ui-widget-header {
    background-color: #FFC616;
}

.is-filter-nav .ui-widget-content {
    border: 0;
    background-color: #e9e9e9;
}

.is-filter-nav .ui-slider-horizontal .ui-slider-handle {
    top: -0.45em;
}

.is-filter-nav .ui-slider-horizontal {
    height: 0.4em;
}

.is-filter-nav .is-filter-label span {
    font-size: 11px;
}

.is-filter-nav h3 {
    font-size: 20px;
}

.is-product-wrap .item .is-info {
    cursor: pointer;
}

.is-product-wrap .item .is-info span {
    font-size: 15px;
    font-weight: 700;
}

.is-product-wrap .item .is-info span>span {
    font-size: 12px;
}

.is-product-wrap .item .is-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
    letter-spacing: -1px;
}

.is-product-wrap .item .is-info h3>span {
    font-size: 13px;
}

.is-product-wrap .item .is-info p {
    font-size: 12px;
    letter-spacing: -1px;
}

.is-bg-brown {
    background-color: #EDE7DB;
}

@media screen and (max-width: 991px) {
    header .nav {
        padding-top: 0;
    }

    header .nav ul li {
        margin-right: 5px;
    }

    header .nav .mypage {
        margin-left: 15px;
    }

    header .nav .is-txt-right {
        margin-bottom: 15px;
    }

    .is-col-lg6:first-child {
        margin-bottom: 20px;
    }
}

#view .is-modal-dialog th {
    padding: 2px 0;
    background-color: #FFD800;
    color: #333;
    border-right: 3px solid #fff;
    font-size: 13px;
    font-weight: 700;
}

#view .is-modal-dialog td {
    background-color: #f5f5f5;
    border-right: 3px solid #fff;
    font-size: 15px;
    text-align: center;
}
#view .is-modal-dialog table {
    width: 100%
}